/**
    ==================
    == FONTS IMPORT ==
    ==================
 */
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@700&family=Roboto+Flex:wght@100&display=swap');

/**
    =================
    == REUSED TAGS ==
    =================
 */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
    ===================
    == HTML and BODY ==
    ===================
 */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

body {
    background-color: #343434;

    color: #e7e7e7;

    transition: all .5s;
    overflow: hidden;
}

/**
    ============
    == HEADER ==
    ============
 */
header {
    width: 100vw;
    height: 60px;

    position: absolute;

    z-index: 1;
}

/**
    ===================
    == HEADER / LOGO ==
    ===================
 */
#logo {
    margin-left: 20px;

    float: left;

    font-family: "Koulen", Helvetica, Arial, serif;
    font-size: 1.3em;
    line-height: 60px;
    text-shadow: 1px 1px 0 rgb(84, 84, 84);
}

#logo span {
    position: absolute;
}

#logo span:first-child {
    z-index: 1;
}

#logo span:last-child {
    margin: 13px 10px 0 20px;

    line-height: 47px;
    text-shadow: 1px 1px 0 rgba(84, 84, 84, 0.6);

    opacity: 0.6;
}

/**
    ===================
    == HEADER / MENU ==
    ===================
 */
#menuMobileOpen {
    margin-right: 20px;

    float: right;

    font-size: 1.3em;
    line-height: 60px;

    cursor: pointer;

    visibility: visible;
}

nav {
    width: 200px;
    height: 100vh;
    right: 0;

    position: fixed;

    background-color: rgb(84, 84, 84);

    z-index: 1;

    --show: cubic-bezier(.17,.67,.83,.67) 300ms;
    --hide: cubic-bezier(.17,.67,.83,.67) 200ms;

    opacity: 1;
    transform: translateX(0);
    transition:
            transform var(--show);
}

nav.hidden {
    opacity: 0;
    transform: translateX(150%);
    transition:
            opacity var(--hide),
            transform var(--hide);
}

nav span {
    margin-left: -45px;
    padding: 10px 15px;

    display: block;

    position: absolute;

    font-size: 1.3em;

    background-color: rgb(84, 84, 84);
    border-bottom-left-radius: 3px;

    cursor: pointer;

    visibility: visible;
}

nav li {
    padding: 10px 0;
    display: block;

    text-align: center;

    font-size: 1.2em;

    border-bottom: solid rgba(255, 255, 255, 0.05) 1px;
}

nav a {
    text-decoration: none;

    font-family: "Roboto Flex", Helvetica, Arial, serif;

    color: #e7e7e7;
}

/**
    ==========
    == MAIN ==
    ==========
 */

/**
    ==================
    == MAIN / FIRST ==
    ==================
 */
#first {
    width: 100vw;
    height: 100vh;

    position: relative;
    flex-direction: column;

    overflow: hidden;

    text-align: center;

    background: linear-gradient(35deg, #7d0ce2, #8b0069);
}

#first::after {
    content: "";

    width: 100vw;
    height: 100vh;

    position: absolute;

    background-color: #e3e7ef;
    clip-path: polygon(0 90%, 100% 65%, 100% 100%, 0% 100%);
}

#first h1 {
    font-family: "Oswald", Helvetica, Arial, serif;
    font-size: 1.7em;
    text-transform: uppercase;
}

#first p {
    font-family: "Roboto Flex", Helvetica, Arial, serif;
}

#first span {
    bottom: 30px;

    position: absolute;

    font-size: 2em;
    color: #343434;

    cursor: pointer;

    z-index: 1;
}

@media (min-width: 768px) and (min-height: 600px) {
    /**
        ============
        == HEADER ==
        ============
     */
    header {
        height: 70px;
    }

    /**
        ===================
        == HEADER / LOGO ==
        ===================
     */
    #logo {
        font-size: 1.5em;
        line-height: 70px;
    }

    #logo span:last-child {
        line-height: 57px;
    }

    /**
        ===================
        == HEADER / MENU ==
        ===================
     */
    #menuMobileOpen {
        visibility: hidden;
    }

    nav {
        width: initial;
        height: initial;
        margin-right: 15px;

        position: absolute;
        float: right;

        background-color: transparent;

        z-index: 0;

        transform: translateX(0);
        opacity: 1;
    }

    nav.hidden {
        opacity: 1;
        transform: translateX(0);
    }

    nav span {
        visibility: hidden;
    }

    nav li {
        padding: 0 10px;
        display: inline-block;

        text-align: center;

        font-size: 1.1em;
        line-height: 70px;

        border-bottom: inherit;
    }

    nav a:hover {
        text-shadow: #e7e7e7 0 0 8px;
    }

    /**
        ==========
        == MAIN ==
        ==========
     */

    /**
        ==================
        == MAIN / FIRST ==
        ==================
     */
    #first h1 {
        font-size: 2em;
    }

    #first p {
        font-size: 1.3em;
    }
}